<form class="form update-form" method="POST" action="{% url 'adjust_bag' item.plan.id %}">
    {% csrf_token %}
    <div class="form-group">
        <div class="input-group">
            <div class="input-group-prepend">
                <button type="submit" class="decrement-qty btn btn-sm btn-black rounded-0" 
                    data-item_id="{{ item.plan.id }}" id="decrement-qty_{{ item.plan.id }}">
                    <span><i class="fas fa-minus fa-sm"></i></span>
                </button>
            </div>
            <input class="form-control form-control-sm qty_input" type="number"
                name="quantity" value="{{ item.quantity }}" min="1" max="99"
                data-item_id="{{ item.plan.id }}"
                id="id_qty_{{ item.plan.id }}">
            <div class="input-group-append">
                <button type="submit" class="increment-qty btn btn-sm btn-black rounded-0"
                    data-item_id="{{ item.plan.id }}" id="increment-qty_{{ item.plan.id }}">
                    <span><i class="fas fa-plus fa-sm"></i></span>
                </button>
            </div>
        </div>
    </div>
</form>

<a class="remove-item text-danger float-right" id="remove_{{ item.plan.id }}">
    <small>Remove</small>
</a>
