<!-- Account Deleted Modal -->
<div class="modal fade" id="accountDeletedModal" tabindex="-1" aria-labelledby="accountDeletedLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header bg-danger text-white">
          <h5 class="modal-title" id="accountDeletedLabel">Account Deleted</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Your account has been deleted. We're sad to see you go 💔
        </div>
        <div class="modal-footer">
          <a href="{% url 'signup' %}" class="btn btn-dark">Create a new account</a>
        </div>
      </div>
    </div>
  </div>
  
  