<div class="plan-box">
    <div class="plan-heading text-center my-4">
      <h2>{{ plan.name }}</h2>
      {% if plan.icon_class %}
      <i class="fa-solid {{ plan.icon_class }} lg-icon"></i>
      {% endif %}
    </div>
  
    <div>
      <a class="cta-btn cta-btn--primary" href="#">From {{ plan.monthly_price }} USD/month.</a>
    </div>
  
    <div class="plan-info text-start my-3 p-4">
      <h3>{{ plan.short_description }}</h3>
      <p>{{ plan.long_description }}</p>
  
      <h3>What's included:</h3>
      <ul>
        {% for feature in plan.feature_list %}
        <li>{{ feature }}</li>
        {% endfor %}
      </ul>
  
      {% if plan.perfect_for %}
      <h3>Perfect for:</h3>
      <p>{{ plan.perfect_for }}</p>
      {% endif %}
  
      <p>Setup cost {{ plan.setup_cost }} USD.</p>
  
      <div>
        <a class="cta-btn checkout-btn" href="{% url 'checkout_plan' plan.id %}">
          Secure Checkout <i class="fa-solid fa-cart-shopping"></i>
        </a> 
      </div>
    </div>
  </div>
  