<div class="plan-box small-card">
    <div class="plan-heading text-center my-3">
      <h3>{{ plan.name }}</h3>
      {% if plan.icon_class %}
      <i class="fa-solid {{ plan.icon_class }} mobile-icon"></i>
      {% endif %}
    </div>
  
    <div class="plan-info text-start px-3 pb-3">
      <p>{{ plan.short_description }}</p>
      <p><strong>From {{ plan.monthly_price }} USD/month</strong></p>
  
      <div class="text-center mt-3">
        <a class="cta-btn cta-btn--primary" href="{% url 'plan' %}?focus={{ plan.plan_type }}">
          View Plan
        </a>
      </div>
    </div>
  </div>
  