{% extends "base.html" %}
{% load static %}

{% block content %}
<section id="plan" class="text-center">
    <div class="container py-4">
        <h1 class="py-2">Size Up Your Business</h1>
    </div>

    <div class="container-fluid px-0">
        <div class="container py-4">
            <div class="row mb-5">
                {% for plan in plans %}
                    {% if plan.plan_type == focus %}
                    <div class="col-12" id="{{ plan.plan_type }}">
                        {% include "home/plan_card.html" with plan=plan %}
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="row g-4">
                {% for plan in plans %}
                  {% if plan.plan_type != focus %}
                  <div class="col-12 col-md-6">
                    <div class="plan-box" id="{{ plan.plan_type }}">
                      {% include "home/plan_card_small.html" with plan=plan %}
                    </div>
                  </div>
                  {% endif %}
                {% endfor %}
              </div>                          
        </div>
    </div>
</section>
{% endblock %}