{% extends "base.html" %}
{% load static %}

{% block content %}
           
  <!-- Dashboard Section -->
<section id="dashboard" class="text-center">

     <!-- Dashboard Heading -->
     <div class="px-2 text-center py-lg-4 mt-lg-4">
        <h1>Welcome to your account, {{ user.get_short_name }}!</h1>
    </div>

    <div id="profile" class="container p-4">
      <div class="row align-items-center mb-5">
    
            <!-- Profile Picture + Info -->
            <div class="col-12 col-md-6 px-lg-5 d-flex flex-column flex-md-row align-items-center mb-4 mb-md-0">
              <!-- Avatar -->
              <div class="me-md-3 text-center mb-3 mb-md-0">
                {% if user.avatar_number %}
                  <img src="{% static 'images/avatars/' %}{{ user.avatar_number }}.png"
                      alt="Your Avatar"
                      class="img-fluid rounded-circle"
                      width="90">
                {% else %}
                  <div class="profile-picture-placeholder px-2 pb-5-lg">
                    <i class="fa-solid fa-user"></i>
                  </div>
                {% endif %}
              </div>
            
              <!-- User Info -->
              <div class="text-start">
                <div class="mb-2">
                  <strong>Name:</strong> {{ user.full_name }}
                </div>
                <div>
                  <strong>Email:</strong> {{ user.email }}
                </div>
                <!-- Text link to update avatar -->
                <a href="#" class="d-block mt-2 small text-decoration-underline text-primary text-center"
                   data-bs-toggle="modal" data-bs-target="#avatarModal">
                  Change Avatar
                </a>
              </div>
            </div>
            
        <!-- Update Button -->
        <div class="col-12 col-md-6 text-center">
          <a href="#" class="cta-btn cta-btn--primary" data-bs-toggle="modal" data-bs-target="#profileModal">
            Update your profile
          </a>          
        </div>
      </div>

      <!-- Instructions (Two Columns) -->
      <div class="row g-3">
        <div class="col-12 col-md-6 d-grid px-4">
          <h2>1. Your Measurements</h2>
          <p>Add your measurements before entering the application.
            <br>
            <br>
            Come back here to update your measurements.</p>
            <a href="#" class="cta-btn cta-btn--tertiary" data-bs-toggle="modal" data-bs-target="#measurementModal">
              Update Measurements
            </a>            
        </div>
        <div class="col-12 col-md-6 d-grid px-4">
          <h2>2. Start Browsing</h2>
          <p>Your will be redirected to our prototype webshop to try out the app.
            <br>
            <br>
            Done with sizing? Just hit the exit button in the webshop.</p>
          <a href="{% url 'webshop' %}" class="cta-btn cta-btn--secondary">Enter the application</a>
        </div>
      </div>
    </div>  
</section>

  {% include "accounts/dashboard_modals.html" %}

{% endblock %}