{% load static %}

<nav class="navbar navbar-expand-md navbar-dark fixed-top">
    <div class="container">

        <!-- Brand logo / link -->
        <li class="nav-item"><a class="nav-link" href="{% url 'webshop' %}">IKNW.</a></li>
        <li> {% if user.is_authenticated %}
            <button href="#" class="btn cta-btn--secondary btn-sm px-4">Exit size mode.</a>
            {% else %}
            <button href="#" class="btn cta-btn--secondary btn-sm px-4">Enter size mode.</a>
        {% endif %}
        </li>

        <!-- TOGGLE BUTTON - visible only on mobile -->
        <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Collapsible content -->
        <div class="collapse navbar-collapse d-lg-flex justify-content-end" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link {% if request.path == '/' %}active{% endif %}" href="{% url 'webshop' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'webshop' %}">Shop</a>
                </li>
                <li>
                    <a class="navbar-brand" href="{% url 'webshop' %}">
                        <img src="{% static 'images/logo_icon.png' %}" alt="SizeMeApp Logo" width="50">
                    </a>
                </li>

                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link {% if request.path == '/accounts/dashboard/' %}active{% endif %}" href="{% url 'dashboard' %}">Account</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#logoutModal">Logout</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link {% if request.path == '/accounts/signup/' %}active{% endif %}" href="{% url 'signup' %}">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.path == '/accounts/login/' %}active{% endif %}" href="{% url 'login' %}">Login</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
