{% load static %}

<nav class="navbar navbar-expand-md navbar-dark fixed-top">
    <div class="container">
        <!-- Brand logo / link -->
        <a class="navbar-brand" href="{% url 'home' %}">
            <img src="{% static 'images/logo_icon.png' %}" alt="SizeMeApp Logo" width="50">
        </a>
        <li>
            <a href="{% url 'toggle_size_mode' %}" class="btn cta-btn--secondary btn-sm px-4">
              {% if request.session.size_mode %}
                Exit size mode
              {% else %}
                Enter size mode
              {% endif %}
            </a>
          </li>          

        <!-- TOGGLE BUTTON - visible only on mobile -->
        <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Collapsible content -->
        <div class="collapse navbar-collapse d-lg-flex justify-content-end" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'products' %}">Shop</a>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link {% if request.path == '/accounts/dashboard/' %}active{% endif %}" href="{% url 'dashboard' %}">Account</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#logoutModal">Logout</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link {% if request.path == '/accounts/signup/' %}active{% endif %}" href="{% url 'signup' %}">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.path == '/accounts/login/' %}active{% endif %}" href="{% url 'login' %}">Login</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

<!--Category Filter Buttons -->
<div class="d-flex flex-wrap justify-content-center gap-2 py-4 bg-white">
    <a href="{% url 'products' %}?category=tshirts" class="btn cta-btn--primary btn-sm px-4">Crew Necks</a>
    <a href="{% url 'products' %}?category=shirts" class="btn cta-btn--tertiary btn-sm px-4">Shirts</a>
    <a href="{% url 'products' %}?category=hats" class="btn cta-btn--black btn-sm px-4">Hats</a>
    <a href="{% url 'products' %}" class="btn btn-outline-dark btn-sm px-4">All Products</a>
</div>
