#shop-hero h1 {
    font-size: 50px;
}

#shop-hero {
    background: url('/static/images/shop-hero.jpg') center/cover no-repeat;
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#shop-hero-content {
    text-align: center;
    width: 70%;
    background-color: rgba(255, 255, 255, 0.8); /* 80% white opacity */
    border-radius: 10px;
    font-size: 25px;
}

