#shop-hero h1 {
    font-size: 35px;
}

#shop-hero {
    background: url('/static/images/shop-hero.jpg') center/cover no-repeat;
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#shop-hero-content {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8); /* 80% white opacity */
    border-radius: 10px;
    font-size: 14
    px;
}

/* Tablet (md) */
@media (min-width: 768px) {

    #shop-hero h1 {
        font-size: 35px;
    }

    #shop-hero-content {
        width: 700px;
        font-size: 18px;
    }
}

/* Desktop (md) */
@media (min-width: 1024px) {

    #shop-hero h1 {
        font-size: 50px;
    }

    #shop-hero-content {
        width: 800px;
        font-size: 25px;
    }
}
