{% extends "base.html" %} 
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/webshop.css' %}">
{% endblock %}

{% block navbar %}
  {% include "includes/navbar_webshop.html" %}
{% endblock %}

{% block content %}
<section id="shop-hero" class="px-4">
  <div class="container p-4 my-4" id="shop-hero-content">
    <h1 class="text-center">Step Into the Experience</h1>
<p class="text-center">
  Welcome to our prototype webshop — designed to give you a hands-on feel of the <strong>SizeMeApp</strong> sizing journey. 
  See real-time fit suggestions, and discover what works for you.
</p>

<!-- Main CTA -->
<div class="text-center mt-4">
  <a href="{% url 'products' %}" class="cta-btn cta-btn--secondary">
    Start exploring with <br><img src="{% static 'images/logo_icon_blk.png' %}" alt="SizeMeApp Logo" class="my-2 img-fluid" style="max-height: 50px;">
  </a>
</div>
</section>

{% endblock %}
